:root {
    --accent-color: rgb(255, 74, 83);
    --header-footer-bg: #040E27;
    --custom-font: 'Bakbak One', cursive;
}

body {
    overflow-x: hidden !important;
}

.custom-bg-color {
    background-color: var(--header-footer-bg);
}

.custom-text-style-nav {
    color: #ffffffde;
    font-size: 20px;
    font-family: var(--custom-font);
}

.offcanvas-title {
    color: var(--accent-color);
}
.custom-text-style {
    font-family: var(--custom-font);
}

.custom-padding-navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.custom-font-header {
    font-size: 3rem;
    font-family: var(--custom-font);
    color: var(--accent-color);
    opacity: 1 !important;
}

.album-custom-padding {
    padding: 3%;
}

.footer-custom-padding {
    margin-left: 20%;
}

.destination {
    position: relative;
}

.destination img {
    opacity: 1;
    transition: opacity 0.5s;
}

.destination:hover img {
    opacity: 0.5;
}

.destination .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.destination:hover .icon {
    display: block;
}

.destination:hover {
    background-color: rgba(0, 0, 0, 0.301);
    background-image: url("/images/location.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.lifestyle {
    position: relative;
}

.lifestyle img {
    opacity: 1;
    transition: opacity 0.5s;
}

.lifestyle:hover img {
    opacity: 0.5;
}

.lifestyle .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.lifestyle:hover .icon {
    display: block;
}

.lifestyle:hover {
    background-color: rgba(0, 0, 0, 0.301);
    background-image: url("/images/home.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.resources {
    position: relative;
}

.resources img {
    opacity: 1;
    transition: opacity 0.5s;
}

.resources:hover img {
    opacity: 0.5;
}

.resources .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.resources:hover .icon {
    display: block;
}

.resources:hover {
    background-color: rgba(0, 0, 0, 0.301);
    background-image: url("/images/luggage.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.prem-member {
    position: relative;
}

.prem-member img {
    opacity: 1;
    transition: opacity 0.5s;
}

.prem-member:hover img {
    opacity: 0.5;
}

.prem-member .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.prem-member:hover .icon {
    display: block;
}

.prem-member:hover {
    background-color: rgba(0, 0, 0, 0.301);
    background-image: url("/images/unlock.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.coaching {
    position: relative;
}

.coaching img {
    opacity: 1;
    transition: opacity 0.5s;
}

.coaching:hover img {
    opacity: 0.5;
}

.coaching .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.coaching:hover .icon {
    display: block;
}

.coaching:hover {
    background-color: rgba(0, 0, 0, 0.301);
    background-image: url("/images/chat-bubbles.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.guide {
    position: relative;
}

.guide img {
    opacity: 1;
    transition: opacity 0.5s;
}

.guide:hover img {
    opacity: 0.5;
}

.guide .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.guide:hover .icon {
    display: block;
}

.guide:hover {
    background-color: rgba(0, 0, 0, 0.301);
    background-image: url("/images/map.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-list-title {
    color: var(--accent-color);
}

.explore-bg {
    background-image: url('/images/grand-palace.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 67px 0;
    margin-left: 0;
    margin-right: 0;
}

.travel-bg {
    background-image: url('/images/travel.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 67px 0;
    margin-left: 0;
    margin-right: 0;
}




.overlay {
    position: relative;
    z-index: 0;
}

.overlay::before {
    position: absolute;
    content: "";
    background-color: #292523d0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.explore-bg::before {
    opacity: .7;
}

.travel-bg::before {
    opacity: .6;
}

.active {
    color: var(--accent-color) !important;
}

/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.3.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Hover.css Copyright Ian Lunn 2017. Generated with Sass.
 */
/* 2D TRANSITIONS */
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
    color: white;
}


/* Lifestyle page */
#hero-lifestyle {
    width: 100%;
    height: 90vh;
    background: url('/images/lifestyle-header-image.jpg') top right;
    background-size: cover;
    position: relative;
}

#hero-lifestyle .lifestyle-hero-container {
    position: absolute;
    font-size: 80px;
    font-family: "Satisfy", serif;
    color: var(--accent-color) !important;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.lifestyle-hero-container::before {
    opacity: .5;
}

/*Destinations page*/
#hero-destinations {
    width: 100%;
    height: 90vh;
    background: url('/images/destinations-header.jpg') top left;
    background-size: cover;
    position: relative
}

#hero-destinations .destinations-hero-container {
    position: absolute;
    font-size: 80px;
    font-family: "Satisfy", serif;
    color: var(--accent-color) !important;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.destinations-hero-container::before {
    opacity: .5;
}

.grow img{
    transition: 1s ease;
}

.grow img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}

/*Guide Books page*/
.btn-primary {
    background-color: var(--header-footer-bg);
}

.btn-primary:hover {
    background-color: var(--accent-color);
}

.col-8 {
    border-right: 1px solid rgb(218, 218, 218);
}

.card-header .my-0 {
    color: white;
}

p > a {
    font-weight: bold;
}
.border-right {
    border-right:1px solid rgba(0, 0, 0, 0.103);
}

@media (max-width: 1199px) {
    .border-right {
        border-right: none;
    }
}