.custom-bg-color {
    background-color: #040E27;
}

.custom-text-style-nav {
    color: #ffffffde !important;
    font-family: 'Bakbak One', cursive;
}

.custom-text-style {
    font-family: 'Bakbak One', cursive;
}

.custom-padding-navbar {
    padding-left: 30px;
    padding-right: 30px;
}

.custom-font-header {
    font-size: 3rem;
    font-family: 'Bakbak One', cursive;
}

.album-custom-padding {
    padding: 3%;
}

.footer-custom-padding {
    margin-left: 20%;
}

.destination {
    position: relative;
}

.destination img {
    opacity: 1;
    transition: opacity 0.5s;
}

.destination:hover img {
    opacity: 0.5;
}

.destination .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.destination:hover .icon {
    display: block;
}

.destination:hover {
    background-color: rgba(0, 0, 0, 0.301);
    background-image: url("/assets/images/location.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.lfiestyle {
    position: relative;
}

.lfiestyle img {
    opacity: 1;
    transition: opacity 0.5s;
}

.lfiestyle:hover img {
    opacity: 0.5;
}

.lfiestyle .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.lfiestyle:hover .icon {
    display: block;
}

.lfiestyle:hover {
    background-color: rgba(0, 0, 0, 0.301);
    background-image: url("/assets/images/home.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.resources {
    position: relative;
}

.resources img {
    opacity: 1;
    transition: opacity 0.5s;
}

.resources:hover img {
    opacity: 0.5;
}

.resources .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.resources:hover .icon {
    display: block;
}

.resources:hover {
    background-color: rgba(0, 0, 0, 0.301);
    background-image: url("/assets/images/luggage.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.prem-member {
    position: relative;
}

.prem-member img {
    opacity: 1;
    transition: opacity 0.5s;
}

.prem-member:hover img {
    opacity: 0.5;
}

.prem-member .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.prem-member:hover .icon {
    display: block;
}

.prem-member:hover {
    background-color: rgba(0, 0, 0, 0.301);
    background-image: url("/assets/images/unlock.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.coaching {
    position: relative;
}

.coaching img {
    opacity: 1;
    transition: opacity 0.5s;
}

.coaching:hover img {
    opacity: 0.5;
}

.coaching .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.coaching:hover .icon {
    display: block;
}

.coaching:hover {
    background-color: rgba(0, 0, 0, 0.301);
    background-image: url("/assets/images/chat-bubbles.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.guide {
    position: relative;
}

.guide img {
    opacity: 1;
    transition: opacity 0.5s;
}

.guide:hover img {
    opacity: 0.5;
}

.guide .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.guide:hover .icon {
    display: block;
}

.guide:hover {
    background-color: rgba(0, 0, 0, 0.301);
    background-image: url("/assets/images/map.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-list-title {
    color: rgb(255, 74, 82);
}