.custom-padding-navbar {
    padding-left: 30px;
    padding-right: 30px;
}

.custom-font-header {
    font-size: 3rem;
    font-family: 'Bakbak One', cursive;
}

.album-custom-padding {
    padding: 3%;
}

.footer-custom-padding {
    margin-left: 20%;
}

.image-container {
    position: relative;
}

.image-container img {
    opacity: 1;
    transition: opacity 0.5s;
}

.image-container:hover img {
    opacity: 0.5;
}

.image-container .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.image-container:hover .icon {
    display: block;
}

.image-container:hover {
    background-color: rgba(0, 0, 0, 0.466);
    background-image: url("/assets/images/location.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.image-container-2 {
    position: relative;
}

.image-container-2 img {
    opacity: 1;
    transition: opacity 0.5s;
}

.image-container-2:hover img {
    opacity: 0.5;
}

.image-container-2 .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.image-container-2:hover .icon {
    display: block;
}

.image-container-2:hover {
    background-color: rgba(0, 0, 0, 0.466);
    background-image: url("/assets/images/home.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.image-container-3 {
    position: relative;
}

.image-container-3 img {
    opacity: 1;
    transition: opacity 0.5s;
}

.image-container-3:hover img {
    opacity: 0.5;
}

.image-container-3 .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.image-container-3:hover .icon {
    display: block;
}

.image-container-3:hover {
    background-color: rgba(0, 0, 0, 0.466);
    background-image: url("/assets/images/luggage.svg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}
